
.container {
  font-size: xx-large;
  background-color: lightgray;
  border-radius: 30px;
  max-width: 800px;
  padding: 40px 40px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;

}

.nominativo {
  &.active {
    color: red;
  }
}
.genitivo {
  &.active {
    color: deeppink;
  }
}



.predicatoNominale {
  &.active {
    color: yellow;
  }
}

.predicatoVerbale {
  &.active {
    color: blue;
  }
}



.frase {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}


.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  align-content: center;
  }



