@font-face {
  font-family: 'OpenDyslexic3-Bold';
  src: local('OpenDyslexic3-Bold'), url("../../fonts/OpenDyslexic3-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'OpenDyslexic3-Regular';
  src: local('OpenDyslexic3-Regular'), url("../../fonts/OpenDyslexic3-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'OpenDyslexic-Bold';
  src: local('OpenDyslexic-Bold'), url("../../fonts/OpenDyslexic-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'OpenDyslexic-BoldItalic';
  src: local('OpenDyslexic-BoldItalic'), url("../../fonts/OpenDyslexic-BoldItalic.otf") format('opentype');
}

@font-face {
  font-family: 'OpenDyslexic-Italic';
  src: local('OpenDyslexic-Italic'), url("../../fonts/OpenDyslexic-Italic.otf") format('opentype');
}

@font-face {
  font-family: 'OpenDyslexic-Regular';
  src: local('OpenDyslexic-Regular'), url("../../fonts/OpenDyslexic-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'OpenDyslexicAlta-Bold';
  src: local('OpenDyslexicAlta-Bold'), url("../../fonts/OpenDyslexicAlta-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'OpenDyslexicAlta-BoldItalic';
  src: local('OpenDyslexicAlta-BoldItalic'), url("../../fonts/OpenDyslexicAlta-BoldItalic.otf") format('opentype');
}

@font-face {
  font-family: 'OpenDyslexicAlta-Italic';
  src: local('OpenDyslexicAlta-Italic'), url("../../fonts/OpenDyslexicAlta-Italic.otf") format('opentype');
}

@font-face {
  font-family: 'OpenDyslexicAlta-Regular';
  src: local('OpenDyslexicAlta-Regular'), url("../../fonts/OpenDyslexicAlta-Regular.otf") format('opentype');
}

@font-face {
  font-family: 'OpenDyslexicMono-Regular';
  src: local('OpenDyslexicMono-Regular'), url("../../fonts/OpenDyslexicMono-Regular.otf") format('opentype');
}